.profile-thumbnail {
	position: absolute;
}

.profile-header {
	min-height: 260px;
	margin-left: 280px;
}

.posts {
	list-style-type: none;
	padding: 0;
	margin: 16px 0 0 0;
	border-top: 1px solid #e0e0e0;
}

.posts .post {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}

.posts .post:hover {
	background-color: #f0f0f0;
}

.post-date {
	float: right;
}

.post-author {
	font-weight: bold;
}

.post-thumbnail {
	position: absolute;
}

.post-content {
	margin-left: 48px;
	min-height: 48px;
}

.post-footer {
	text-align: right;
}

.comments {
	list-style-type: none;
	padding: 0;
	margin: 16px 0 0 0;
}

.comments .comment {
	margin-left: 32px;
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}

.comments .comment:nth-child(1) {
	border-top: 1px solid #e0e0e0;
}

.comments .comment:hover {
	background-color: #f0f0f0;
}

.comment-date {
	float: right;
}

.comment-author {
	font-weight: bold;
}

.comment-thumbnail {
	position: absolute;
}

.comment-content {
	margin-left: 48px;
	min-height: 48px;
}

.comment-form {
	margin: 16px 0 16px 32px;
}

.pagination {
	width: 100%;
	text-align: right;
	padding: 0;
	margin: 0;
}

.flask-pagedown-preview {
	margin: 10px 0 10px 0;
	border: 1px solid #e0e0e0;
	padding: 4px;
}

.flask-pagedown-preview h1 {
	font-size: 140%;
}

.flask-pagedown-preview h2 {
	font-size: 130%;
}

.flask-pagedown-preview h3 {
	font-size: 120%;
}

.post-body h1 {
	font-size: 140%;
}

.post-body h2 {
	font-size: 130%;
}

.post-body h3 {
	font-size: 120%;
}

.table.followers tr {
	border-bottom: 1px solid #e0e0e0;
}